body {
    min-width: 320px;
    font: 10px Helvetica,
        Arial,
        sans-serif;
    color: white;
    background-image: url(img/diagmonds_@2X.png);
    /* This pattern is downloaded from www.subtlepatterns.com */
    background-size: 20%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-shadow: 2px 2px black;
    text-align: center;
}

h2 {
    color: darkgoldenrod;
    font-size: 2.2rem;
    letter-spacing: 4px;
}

p {
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding: 10px;
    line-height: 2rem;
}

/* Header */
header {
    position: relative;
    top: 0;
    left: 0;
}

.hello {
    position: absolute;
    bottom: 0;
    right: 2%;
    font-size: 1.7rem;
    letter-spacing: 4px;
    text-shadow: 2px 2px goldenrod;
    font-family: 'Raleway',
        sans-serif;
}

/* Banner */
.banner img {
    max-width: 100%;
    height: auto;
}

/* Navigation */
.navigation {
    position: fixed;
    right: 0;
    top: 12%;
    transform: translateX(200px);
    transition: transform .3s linear;

}

.active_navigation {
    transform: translateX(0);

}

.menu {
    background-color: transparent;
    list-style: none;

}

#item {
    width: 90%;
    font-size: 0.9rem;
    margin-top: 2vh;
    padding: 5px 10px;
    letter-spacing: 3px;
    box-shadow: 2px 2px black;
    border: 1px white solid;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    text-align: center;
    color: goldenrod;
    background-color: #111;
    transition: color .3s linear;
}

#item:hover {
    color: white;
}


/* Hamburger */
.hamburger {
    position: fixed;
    top: 4%;
    right: 3%;
    display: inline-block;
    border: 0;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    text-shadow: 2px 2px black;
}

.hamburger_box {
    position: relative;
    width: 40px;
    height: 24px;
    display: inline-block;
}

.hamburger_inner {
    top: 50%;
    transform: translatetY(-50%);
    transition: transform 0.2s linear;
}

.hamburger_inner,
.hamburger_inner::before,
.hamburger_inner::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
}

.hamburger_inner::before {
    content: "";
    margin-top: -10px;
    transition: transform 0.3s linear;
}

.hamburger_inner::after {
    content: "";
    margin-top: 10px;
    transition: transform 0.3s linear;
}

.active .hamburger_inner {
    background-color: transparent;
}

.active .hamburger_inner::before {
    transform: translateY(10px) rotate(45deg) rotateY(45deg);
}

.active .hamburger_inner::after {
    transform: translateY(-10px) rotate(-45deg) rotateY(-45deg);
}

/* Start - information about page */

.start_section h2 {
    font-size: 1.8rem;
    letter-spacing: 4px;
}

.gitLogo img {
    max-width: 70%;
    height: auto;
}

.gitLogo a {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
    transform: scale(1);
    transition: .3s linear;

}

.gitLogo a:hover {
    color: darkgoldenrod;
    transform: scale(1.1);

}

/* Section languages */

.languages_section h3 {
    font-size: 1.8rem;
    letter-spacing: 4px;
}

.languages_section img {
    max-width: 100%;
    height: auto;
}

.languages_section img:last-of-type {
    width: 80%;
    border-radius: 10%;
}

/* Section contact */

.contact_section input {
    width: 75vw;
    height: 4vh;
    margin: 0 auto;
    margin-top: 5vh;
    border: 1px solid goldenrod;
    background-color: #111;
    box-shadow: 1px 1px black;
    color: white;
}

input:last-of-type {
    width: 80vw;
    height: 30vh;
}

::placeholder {
    font-size: 0.8rem;
    color: darkgoldenrod;
    opacity: 0.5;
}

/* Button */
.send_button {
    display: block;
    font-size: 1.3rem;
    margin: 5vh auto;
    padding: 10px 20px;
    letter-spacing: 3px;
    box-shadow: 3px 3px black;
    background-color: #111;
    border: 1px white solid;
    color: darkgoldenrod;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    transition: color .3s linear;
}

.send_button:hover {
    color: white;
}

/* Footer */
footer h3 {
    margin-top: 8vh;
    height: 5vh;
    line-height: 5vh;
    font-size: 0.7rem;
}

/* Media Queries */

@media (min-width: 410px) {
    h2 {
        font-size: 2.7rem;
        letter-spacing: 6px;
    }

    p {
        font-size: 1.3rem;
        letter-spacing: 2px;
        padding: 20px;
        line-height: 2.2rem
    }

    .hello {
        font-size: 2rem;
        letter-spacing: 6px;
        text-shadow: 3px 3px goldenrod;
    }

    /* Hamburger */
    .hamburger {
        padding: 10px;

    }

    .hamburger_box {
        width: 50px;
        height: 24px;
    }

    .hamburger_inner,
    .hamburger_inner::before,
    .hamburger_inner::after {
        height: 5px;
    }

    .hamburger_inner::before {
        content: "";
        margin-top: -12px;

    }

    .hamburger_inner::after {
        content: "";
        margin-top: 12px;
    }

    .active .hamburger_inner::before {
        transform: translateY(12px) rotate(45deg) rotateY(45deg);
    }

    .active .hamburger_inner::after {
        transform: translateY(-12px) rotate(-45deg) rotateY(-45deg);
    }

    #item {
        font-size: 1.2rem;
        padding: 10px 10px;
        box-shadow: 3px 3px black;
        text-shadow: 2px 2px black;
    }

    .start_section h2 {
        font-size: 2.1rem;
        letter-spacing: 6px;
    }

    /* Section languages */
    .languages_section h3 {
        font-size: 2.2rem;
        letter-spacing: 6px;
    }

    /* Section contact */
    .contact_section input {
        width: 80vw;
        height: 5vh;
        box-shadow: 2px 2px black;
    }

    input:last-of-type {
        width: 85vw;
        height: 32vh;
    }

    ::placeholder {
        font-size: 0.9rem;
    }

    /* Button */
    .send_button {
        font-size: 1.6rem;
        margin: 8vh auto;
        letter-spacing: 4px;
        box-shadow: 4px 4px black;
        text-shadow: 3px 3px black;
    }

    /* Footer */
    footer h3 {
        font-size: 1rem;
    }
}

@media (min-width: 567px) {
    h2 {
        font-size: 2.2rem;

    }

    p {
        font-size: 1.2rem;
    }

    /* Start - information about page */
    .hello {
        font-size: 2.7rem;
    }

    .gitLogo img {
        max-width: 50%;
    }

    /* Navigation */
    .navigation {
        top: 20%;
    }

    .active_navigation {
        transform: translateX(0);
    }

    /* Section languages */
    .languages_section img {
        max-width: 60%;
    }

    .languages_section img:last-of-type {
        width: 40%;

    }

    /* Section contact */
    .contact_section input {
        width: 70vw;
        height: 9vh;
        margin-top: 7vh;
    }

    input:last-of-type {
        width: 70vw;
        height: 55vh;
    }

    /* Button */
    .send_button {
        font-size: 1.3rem;
        margin-top: 15vh;
        width: 50vw;
    }

    /* Footer */
    footer h3 {
        margin-top: 15vh;
    }
}

@media (min-width:767px) {
    h2 {
        font-size: 4rem;
        letter-spacing: 8px;
    }

    p {
        font-size: 1.9rem;
        padding: 30px;
        line-height: 4rem;
    }

    .hello {
        font-size: 4.2rem;
        letter-spacing: 7px;
    }

    /* Navigation */
    .navigation {
        transform: translateX(300px);
    }

    .active_navigation {
        transform: translateX(0);
    }

    #item {
        font-size: 2rem;
        padding: 15px 15px;
        box-shadow: 4px 4px black;
        text-shadow: 4px 4px black;
    }

    .start_section h2 {
        font-size: 3.6rem;
        letter-spacing: 6px;
    }

    /* Section languages */
    .languages_section h3 {
        font-size: 2.2rem;
        letter-spacing: 6px;
    }

    /* Section contact */
    .contact_section input {
        width: 80vw;
        height: 5vh;
        box-shadow: 2px 2px black;
    }

    input:last-of-type {
        width: 85vw;
        height: 32vh;
    }

    ::placeholder {
        font-size: 0.9rem;
    }

    /* Button */
    .send_button {
        font-size: 1.6rem;
        margin: 8vh auto;
        letter-spacing: 4px;
        box-shadow: 4px 4px black;
        text-shadow: 3px 3px black;
    }

    /* Footer */
    footer h3 {
        font-size: 1rem;
    }
}
}